---
layout: default
title: "Andre Goersch"
fulltitle: "Online Portfolio for Andre Goersch: User Experience and Interface Designer" 
---

<nav class="header-nav">
  <ul>
    <li>
      <a href="#hero">
          <img src="{{ site.baseurl }}/assets/img/ag-logo.svg" alt="Andre Goersch" class="w-8 max-w-xs">
      </a>
    </li>
    <li>
      <a href="#">Work</a>
    </li>
    <li>
      <a href="#">Experience</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>

<section id="hero" class="hero md:flex-row">
  <div class="m-6 md:m-12 w-3/5 md:w-1/2">
    <img src="{{ site.baseurl }}/assets/img/ag-logo.svg" alt="Andre Goersch" class="w-full">
  </div>
  <div class="md:w-1/2 md:-order-1 z-10 shadow-blue">
    <h1 class="font-display text-5xl sm:text-6xl md:text-7xl lg:text-8xl leading-negative tracking-tight uppercase mb-2">
      <span class="font-extrabold">Andre</span><br>
      <span class="font-light">Goersch</span>
    </h1>
    <h2 class="leading-none font-display font-medium text-xl md:text-2xl">User Experience and Interface Design</h2>
  </div>
</section>

<section id="bio" class="bio p-12 my-12 md:my-24">
  {% include responsiveImage.html file="v1532738007/assets/agoersch-photo.jpg" settings="c_scale"  alt="Andre Goersch" %}
  <article class="max-w-sm text-lg md:text-xl lg:text-2xl">
    <p>With more than 20 years of professional design background, Andre understands all the different aspects required to create great experiences.</p>
    <p>A specialist on his field, but with the know-how to bridge teams such as development and research on equal terms.</p>
  </article>
</section>

<section id="work" class="work">
    {% include responsiveImage.html file="v1533861058/portfolio/camera-drone-control.png" settings="ar_1:1,c_thumb" class="large" %}
    {% include responsiveImage.html file="v1533863549/portfolio/mz-landing-mkup-v2.2.png" settings="ar_1:1,c_thumb,g_north" class="small" %}
    {% include responsiveImage.html file="v1533863546/portfolio/commoncoretoolbox.png" settings="ar_1:1,c_thumb,g_north" class="small" %}
    {% include responsiveImage.html file="v1533863551/portfolio/whitecanepa.png" settings="ar_1:1,c_thumb,g_north" class="small" %}
    {% include responsiveImage.html file="v1533863552/portfolio/nebrios-website.png" settings="ar_1:1,c_thumb,g_north" class="small" %}
    {% include responsiveImage.html file="v1533864158/portfolio/runpee/runpee_001---Intro.jpg" settings="ar_2:1,c_thumb" class="medium" %}
    {% include responsiveImage.html file="v1533864208/portfolio/gw2/gw2-app-001-intro.jpg" settings="ar_1:1,c_thumb" class="large" %}
    {% include responsiveImage.html file="v1533863545/portfolio/detox-layout.png" settings="ar_1:1,c_thumb" class="small" %}
    {% include responsiveImage.html file="v1533863547/portfolio/opus-home-mkup-v0.1.2.png" settings="ar_1:1,c_thumb,g_north" class="small" %}
</section>
