body {
  @apply
    bg-indigo-darkest
    text-white
    font-body
    leading-normal;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

.shadow-blue {
  text-shadow:
    #191e38 0 0 80px,
    #191e38 0 0 40px,
    #191e38 0 0 20px;
}
